body{
    overflow-x: hidden;
}
.testimonial{
    background-image: url(../../../images/quotation.svg);
    background-repeat: no-repeat;
    background-size: 200px ;
    background-position: top right;
       
}
    